# Piglet Wardriver config
# Lines starting with # are comments
# Format: key=value

# --- WiGLE ---
# Use "Encoded for Use Wigle Api Token"
wigleBasicToken=EnterTokenFromWigle

# --- Home WiFi (STA) ---
homeSsid=EnterSSID
homePsk=EnterPSK

# --- Wardriver SoftAP ---
wardriverSsid=PigletWARDRIVE
wardriverPsk=wardrive1234

# --- GPS ---
gpsBaud=9600

# --- Scanning ---
scanMode=aggressive

# --- Units ---
speedUnits=mph


# Board selection:
board=c5

#battery Test
#Values are True or False
#Will print seconds active when on battery power
batteryTest=false